@page "/clientelist"
@using BlazorApp1.Shared
@inject HttpClient _httpClient
<h1>Clientes Detail</h1>
<div>
    <a href="/addcliente"> Create New Client</a>
    @if (clienteList != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width = "14%">Name</th>
                    <th width = "14%">Contact</th>
                    <th width = "14%">Direction</th>
                    <th width = "14%">Phone</th>
                    <th width = "14%">E-mail</th>
                    <th width = "14%">Projact</th>
                    <th width = "14%">Action</th>
                </tr>
                 <tr>
                    <th width = "30%">Name</th>
                    <th width = "20%">Email</th>
                    <th width = "20%">Mobile No</th>
                    <th width = "30%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in clienteList)
                {
                    <tr>
                    <td>@p.NombreCliente</td>
                    <td>@p.Contacto</td>
                    <td>@p.Telefono</td>
                    <td>@p.Direccion</td>
                    <td>@p.Email</td>
                    <td>@p.Proyecto</td>
                    <td>
                        <a href="/editperson/@p.Id">Edit</a> |
                        <a href="/deleteperson/@p.Id">Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    List<ClienteViewModel> clienteList = new List<ClienteViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/cliente");
        response.EnsureSuccessStatusCode();
        clienteList = await response.Content.ReadFromJsonAsync<List<ClienteViewModel>>();
    }
}